.game-dashboard {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin: 50px;
}

.card-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 10px; */

    /* flex-direction: column; */
}
.card-subtitle {
    color: #808080;
}