body {
  margin: 0;
  font-family: 'Cabin', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  background-color: transparent;
  position: relative;
  z-index: 1;
  height: 100%;
}


/* FONTS */
h1 {
  font-size: calc(1.375rem + 5vw) !important;
  background: linear-gradient(180deg, #D9F951 46.88%, #FFFFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-family: 'Cabin', sans-serif;
}

h3 {
  
}

/* COLORS */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
